DEV_DATABASE_PORT =
DEV_DATABASE_NAME = iot
DEV_DATABASE_USER = 
DEV_DATABASE_HOST = 
DEV_DATABASE_PASSWORD = 
DEV_MQTT_URL = 
DEV_MQTT_TOPIC = 
DEV_WS_PORT = 3333


PRODUCTION_DATABASE_PORT =
PRODUCTION_DATABASE_NAME = iot
PRODUCTION_DATABASE_USER = 
PRODUCTION_DATABASE_HOST = 
PRODUCTION_DATABASE_PASSWORD = 
PRODUCTION_MQTT_URL = 
PRODUCTION_MQTT_TOPIC = 
PRODUCTION_WS_PORT = 

ENVIRONMENT = dev